/*public start*/
.opacityHelf {
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
/*public end*/
.nav .navConRight font {
  color: #fff;
  font-size: 17px;
  margin-left: 29px;
  cursor: default;
  display：inline-block;
}
.nav .navConRight font span {
  display: inline-block;
  height: 28px;
  width: 28px;
  background-image: url(../img/nav_icon/top_icon.png);
  background-size: cover;
  vertical-align: middle;
  margin-right: 9px;
  margin-top: -3px;
}
/*vairable start*/
.line {
  height: 2px;
  width: 20px;
  background: #f7d930;
  margin: 27px auto 0;
  text-align: center;
  margin-bottom: 62px;
}
.section {
  color: #3F3F3F;
  font-size: 16px;
}
.section img {
  height: 70px;
  margin-right: 16px;
}
.section p {
  padding-top: 4px;
  margin-bottom: 23px;
}
.section div {
  font-size: 18px;
  font-weight: bold;
}
/*vairable end*/
/*banner start*/
.banner {
  height: 400px;
  width: 100%;
  line-height: 400px;
  background-image: url(../img/acecontactHei.png);
  overflow: hidden;
}
.banner .bannerCon {
  background-image: url(../img/acecontact.png);
  background-size: auto 400px;
  -moz-background-size: auto 400px;
  -ms-background-size: auto 400px;
  -o-background-size: auto 400px;
  -webkit-background-size: auto 400px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/acecontact.png', sizingMethod='scale');
  background-position: center center;
  background-repeat: no-repeat;
}
.banner .bannerCon span {
  color: #FFFFFF;
  font-size: 30px;
  padding: 8px 15px;
  border: 2px solid #fff;
  background: rgba(0, 0, 0, 0.3);
}
/*banner end*/
/*contact start*/
.contact .contactTitle {
  text-align: center;
  font-size: 20px;
  padding-top: 36px;
  color: #4f4f4f;
}
.contact .contactLine {
  height: 2px;
  width: 20px;
  background: #f7d930;
  margin: 27px auto 0;
  text-align: center;
  margin-bottom: 62px;
}
.contact .contactCon .contactLeft {
  width: 40%;
}
.contact .contactCon .contactLeft .contactSection {
  color: #3F3F3F;
  font-size: 16px;
}
.contact .contactCon .contactLeft .contactSection img {
  height: 70px;
  margin-right: 16px;
}
.contact .contactCon .contactLeft .contactSection p {
  padding-top: 4px;
  margin-bottom: 23px;
}
.contact .contactCon .contactLeft .contactSection div {
  font-size: 18px;
  font-weight: bold;
}
.contact .contactCon .contactLeft .contactSection:nth-child(1) {
  margin-bottom: 61px;
  margin-top: 52px;
}
.contact .contactCon .contactRight {
  width: 60%;
}
.contact .contactCon .contactRight .attention {
  color: #3F3F3F;
  font-size: 16px;
  margin-bottom: 30px;
}
.contact .contactCon .contactRight input {
  height: 40px;
  width: 565px;
  margin-bottom: 20px;
}
.contact .contactCon .contactRight textarea {
  height: 200px;
  width: 565px;
  margin-bottom: 43px;
}
.contact .contactCon .contactRight .sub {
  background: #f7d930;
  color: #171717;
  height: 40px;
  border-radius: 2px;
  width: 225px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 109px;
  cursor: pointer;
}
.contact .contactCon .contactRight .sub:hover {
  background: #FFCA00;
}
/*contact end*/
/*media start*/
@media screen and (max-width: 940px) {
  .banner {
    width: 940px;
  }
  .banner .bannerPic {
    width: 940px;
    height: 900px;
  }
  .contact {
    width: 940px;
  }
}
/*media end*/
